<% include ../partials/header %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center;">Create new Campground!</h1>
		<div style="width: 30%; margin: 33px auto;">
			<form action="/campgrounds" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="camp name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="img" placeholder="image url">
				</div>
				<div class="form-group">
					<textarea class="form-control" type="text" name="description" 
							  placeholder="description goes here" rows="4" style="resize: none"></textarea>
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Add camp!</button>
				</div>
				<div class="form-group">
					<a style="text-align: center;" href="/campgrounds" class="btn btn-warning form-control">
						Sorry, i changed my mind, bring me back!
					</a>
				</div>
			</form>
		</div>
	</div>
</div>

<% include ../partials/footer %>